.bank-rates-container {
    @apply w-full py-4
}

.banks {
    @apply w-full flex flex-col gap-y-1 even:bg-[#bfc38];
}

.banks .bank {
    @apply hover:bg-[#fbb041] hover:odd:bg-[#fbb041] hover:odd:bg-opacity-25 hover:bg-opacity-25 lg:odd:bg-[#BFC3C8] lg:odd:bg-opacity-15 even:bg-transparent w-full;
}

.bank-rates-title {

    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #e5e5e5;
    @apply my-4 mb-8;
}


.bank-rates-table {
    @apply w-full flex flex-col gap-y-2;
}

.bank-rates-table .table-head {
    @apply w-full flex flex-row justify-between items-center;
}

.bank-info {
    @apply bg-[#1E222D] w-1/3 flex flex-row justify-start items-center py-2 text-center cursor-pointer;
}

.bank-rates .rate {

    font-family: var(--font-inter);
    font-size: 13px;
    font-weight: 600;
    line-height: 15.73px;
    letter-spacing: 0.004em;
    color: #e5e5e5;
    @apply px-4 text-center flex items-center justify-center;
}

.bank-logo {
    @apply h-[24px] w-auto
}