.header {
    @apply max-h-[44px] h-full w-full mt-8 grid grid-rows-1 grid-cols-4 items-center justify-between;
    grid-template-columns: auto 300px 1fr auto;
}


.paratic-logo {
    min-width: 148px;
    min-height: 32px;
    @apply hover:scale-110 items-center flex ml-[26px]
}

.search {
    background: #131722;
    height: 32px;
    border-radius: 8px;
    padding: 4px 7px;
    @apply w-[80px] lg:w-[231.21px] flex items-center;
}

.search input {
    background: transparent;
    height: 24px;
    padding: 7px;
    color: white;
}

.search input::placeholder {
    color: #A0AEC0;
}

.search input:focus {
    outline: none;
}

.nav {
    gap: clamp(5px, 2.5vw, 50px);
    @apply w-full lg:flex items-center justify-center text-nowrap px-8 hidden;
}

.navbar-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    color: #e5e5e5;
    cursor: pointer;
    @apply hover:text-[#fbb041]
}

.auth {
    @apply w-full justify-end items-center gap-[15px] flex pr-[66px]
}

.auth-button {
    width: 88.55px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

.auth-button.login {
    background: #fbb041;
    @apply hover:bg-white hover:text-[#2A2E39] cursor-pointer;
}

.auth-button.logged-in {
    background: #2A2E39;
    color: #fbb041;
    @apply hover:bg-[#fbb01f] hover:text-[#2A2E39] cursor-pointer;

}

.auth-button.register {
    background: #2A2E39;
    color: #fbb041;
    @apply hover:bg-[#fbb01f] hover:text-[#2A2E39] cursor-pointer;
}

.hamburger-menu-icon {
    @apply w-[24px] h-[24px] cursor-pointer bg-[#fbb041] flex items-center justify-center py-4 px-4 rounded-md;
}

.navbar-mobile-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 16.34px;
    color: #e5e5e5;
    cursor: pointer;
    @apply hover:text-[#fbb041]
}

.nav-mobile {
    @apply flex-col gap-y-8 items-center text-center text-[#e5e5e5] fixed left-0 z-50 top-0 min-h-screen h-screen bg-[#2A2E39] w-screen overflow-hidden
}

.nav-mobile .footer>div {
    @apply w-full flex justify-center items-center p-0 pt-12;
}

/* 
Auth Dropdown
*/

.auth-dropdown {
    @apply absolute top-9 pt-2 left-0 z-50 cursor-pointer hover:bg-red-500 bg-[#2A2E39] w-[88.55px] h-auto py-2 rounded-md shadow-md flex flex-col gap-y-2 items-center justify-center
}

.dropdown-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    color: #e5e5e5;
    cursor: pointer;
    @apply hover:text-[#e5e5e5]
}

.auth-wrapper {
    @apply w-full
}

.menus {
    @apply w-full
}

.desktop-menu {
    @apply hidden lg:flex xl:flex
}

.mobile {
    @apply lg:hidden xl:hidden flex flex-col items-center justify-center w-full pt-10
}

.mobile-menu {
    @apply lg:hidden xl:hidden w-full
}

.hamburger-menu-icon {
    @apply lg:hidden xl:hidden hover:bg-[#2a2e39] hover:text-[#fbb041]
}