.header {
    @apply max-h-[44px] h-full w-full mt-8 grid grid-rows-1 grid-cols-4 items-center justify-between;
    grid-template-columns: auto 300px 1fr auto;
}


.paratic-logo {
    min-width: 148px;
    min-height: 32px;
    @apply hover:scale-110 items-center flex ml-[26px]
}

.search {
    background: #131722;
    height: 32px;
    border-radius: 8px;
    padding: 4px 7px;
    @apply w-[80px] lg:w-[231.21px] flex items-center;
}

.search input {
    background: transparent;
    height: 24px;
    padding: 7px;
    color: white;
}

.search input::placeholder {
    color: #A0AEC0;
}

.search input:focus {
    outline: none;
}

.nav {
    @apply w-full flex items-center justify-center gap-x-[50px] text-nowrap;
}

.navbar-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    color: #e5e5e5;
    cursor: pointer;
    @apply hover:text-[#fbb041]
}

.auth {
    @apply w-full justify-end items-center gap-[15px] flex pr-[66px]
}

.auth-button {
    width: 88.55px;
    height: 36px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

.auth-button.login {
    background: #fbb041;
    @apply hover:bg-white hover:text-[#2A2E39] cursor-pointer;
}

.auth-button.register {
    background: #2A2E39;
    color: #fbb041;
    @apply hover:bg-[#fbb01f] hover:text-[#2A2E39] cursor-pointer;
}

.hamburger-menu-icon {
    @apply w-[24px] h-[24px] cursor-pointer bg-[#fbb041] flex items-center justify-center py-4 px-4 rounded-md;
}