@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    margin: 0;
    padding: 0;
    background-color: #1E222D;
    @apply overflow-x-hidden;
}

* {
    box-sizing: border-box;
}

span.error {
    @apply text-red-500 animate-pulse;

}

/* if nav-mobile in body make main hidden */
body.nav-mobile {
    main {
        display: none;

    }

}